<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="header ">
    <div class="header__main container d-flex justify-between align-center">
        <a th:href="@{/}" class="header__logo">
            <img th:src="@{/images/Logo.png}" alt="">
        </a>
        <nav class="header__nav d-flex justify-between">
            <div class="header__main-link">
                <a th:href="@{/}" class="header__link">Главная</a>
            </div>
            <div class="header__testdrive-link">
                <a th:href="@{/login}" class="header__link">Авторизация</a>
            </div>
            <div class="header__tracking-link">
                <a th:href="@{/cars}" class="header__link">Машины</a>
            </div>
        </nav>
    </div>
</header>
<section class="login d-flex justify-center align-center">
    <div class="login_center d-flex container align-center justify-center">
        <form name="f" action="/login" method="post" class="login_form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <p class="login_sign">Sign in</p>
            <div class="user">
                <input placeholder="user" type="text" name="username" id="username" required autofocus>
            </div>
            <div class="user">
                <input placeholder="password" type="password" name="password" id="password" required>
            </div>
            <div class="submit">
                <button type="submit" class="orange_btn">Login</button>
            </div>
            <div th:if="${param.error}">Incorrect Username or Password</div>
        </form>
    </div>
</section>

</body>
</html>