<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<section class="login">
    <div class="login_center d-flex container js al">
        <form name="f" action="/login" method="post" class="login_form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="user">
                <label for="username" >Username</label>
                <input type="text" name="username" id="username" required autofocus>
            </div>
            <div class="user">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="submit">
                <input type="submit" value="Login">
            </div>
            <div th:if="${param.error}">Incorrect Username or Password</div>

        </form>
    </div>
</section>

</body>
</html>